<div>
  <mat-form-field>
    <mat-label>Sort By</mat-label>
    <mat-select [(value)]="selectedSort" (selectionChange)="onSortChange()">
      <mat-option *ngFor="let option of sortOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sort Direction</mat-label>
    <mat-select
      [(value)]="selectedSortDirection"
      (selectionChange)="onSortDirectionChange()"
    >
      <mat-option
        *ngFor="let option of directionsSortOptions"
        [value]="option.value"
      >
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-sidenav-container class="example-container">
    <mat-sidenav
      class="example-form"
      #drawer
      mode="side"
      [opened]="isDrawerOpen"
    >
      <app-banner-form></app-banner-form>
      <button mat-button (click)="closeDrawer('asd')">Close Drawer</button>
    </mat-sidenav>
  </mat-sidenav-container>

  <div class="container">
    <div
      *ngFor="
        let banner of banners | slice : page * pageSize : (page + 1) * pageSize
      "
    >
      <mat-card style="margin-top: 100px; width: 350px">
        <mat-card-title>Name: {{ banner.name }}</mat-card-title>
        <img
          *ngIf="banner.url"
          mat-card-image
          [src]="banner.url"
          (error)="handleImageError($event)"
        />
        <mat-card-content>
          <p>ID: {{ banner.id }}</p>
          <p>Channel ID: {{ banner.channelId }}</p>
          <p>Name: {{ banner.name }}</p>
          <p>Status: {{ banner.active }}</p>
          <p>Zone: {{ banner.zoneId }}</p>
          <p>Start Date: {{ banner.startDate }}</p>
          <p>End Date: {{ banner.endDate }}</p>
        </mat-card-content>
        <button mat-button (click)="openDrawer(banner)">edit banner</button>
      </mat-card>
    </div>
  </div>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
