<div class="container">
  <mat-sidenav-container class="container-navbar">
    <mat-sidenav
      #drawer
      mode="side"
      position="end"
      [opened]="drawerService.isDrawerOpen"
    >
      <div class="form">
        <app-banner-form (saveItem)="saveItem($event)"></app-banner-form>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>

  <mat-form-field class="container-search-bar">
    <div class="search-bar">
      <input matInput placeholder="Search" [(ngModel)]="searchQuery" (input)="onSearch()">
      <mat-icon color="primary">search</mat-icon>
    </div>
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="onSortChange()">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.id }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.name }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="channelId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Channel ID</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.channelId }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="language">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Language</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.language }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="zoneId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Zone</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.zoneId }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.startDate | date: 'dd/MM/yyyy' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.endDate | date: 'dd/MM/yyyy'  }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header>URL</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.url }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.priority }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.active }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="labels">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Labels</mat-header-cell>
      <mat-cell *matCellDef="let banner">
        <ng-container *ngFor="let label of banner.labels; let last = last">
          {{ !last ? label + "," : label}}
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="img">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
      <mat-cell *matCellDef="let banner">
        <img [src]="banner.img ? banner.img : altImg" />
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="openDrawer(row)"></mat-row>
  </mat-table>
  

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
