.container {
  display: flex;
  flex-wrap: wrap;
}

.example-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.example-form {
  width: 100vw;
  height: 500px;
  background-color: blue;
}
