.container {
  display: flex;
  flex-wrap: wrap;
}

.example-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  .example-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}