<div>
  <mat-sidenav-container class="example-container">
    <mat-sidenav
      #drawer
      mode="side"
      position="end"
      [opened]="isDrawerOpen"
    >
      <div class="example-form">
        <app-banner-form (saveItem)="saveItem($event)"></app-banner-form>
        <button mat-flat-button color="accent" (click)="closeDrawer()">Close Drawer</button>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>

  <button mat-button (click)="openDrawer()">add banner</button>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="onSortChange()">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.id }}</mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.name }}</mat-cell>
    </ng-container>
  
    <!-- Channel ID Column -->
    <ng-container matColumnDef="channelId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Channel ID</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.channelId }}</mat-cell>
    </ng-container>
  
    <!-- Status Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.active }}</mat-cell>
    </ng-container>
  
    <!-- Zone ID Column -->
    <ng-container matColumnDef="zoneId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Zone</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.zoneId }}</mat-cell>
    </ng-container>
  
    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.startDate }}</mat-cell>
    </ng-container>
  
    <!-- End Date Column -->
    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
      <mat-cell *matCellDef="let banner">{{ banner.endDate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="img">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let banner">
        <img style="width: 100px; height: 100px;" [src]="banner.img ? banner.img : altImg" />
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="openDrawer(row)"></mat-row>
  </mat-table>
  

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
