<div class="container">
  <div *ngIf="deleteBanner" class="remove">
    <button *ngIf="!removing" mat-icon-button color="warn" type="button" (click)="removeBanner()">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-progress-spinner
      *ngIf="removing"
      mode="indeterminate"
      diameter="50"
      color="warn"
    ></mat-progress-spinner>
  </div>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form">
        <div class="group">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Language</mat-label>
            <mat-select formControlName="language">
              <mat-option *ngFor="let lang of languages" [value]="lang">{{ lang }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="group">
          <mat-form-field>
            <mat-label>Channel ID</mat-label>
            <input matInput formControlName="channelId" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Zone ID</mat-label>
            <mat-select formControlName="zoneId">
              <mat-option *ngFor="let zone of zoneList" [value]="zone">{{ zone }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <mat-form-field>
          <mat-label>Priority</mat-label>
          <input matInput type="number" min="0" placeholder="Min 0" formControlName="priority" />
        </mat-form-field>
        
        <div formArrayName="labels">
          <div class="group" *ngFor="let labelControl of labelControls; let i = index">
            <mat-form-field>
              <input matInput [formControl]="labelControl" placeholder="Label" />
            </mat-form-field>
            <button mat-icon-button color="warn" type="button" (click)="removeLabelInput(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
  
        <button mat-raised-button class="mat-success" type="button" (click)="addLabelInput()">Add Label</button>

        <mat-card class="file-card">
          <mat-card-header>
            <mat-card-title>Upload Image</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="file-container">
              <label for="fileId" class="file">
                <div class="icon" *ngIf="!uploading" type="button" (click)="selectImage()">
                  <mat-icon color="primary">add_photo_alternate</mat-icon>
                </div>
                <mat-progress-spinner
                  *ngIf="uploading"
                  mode="indeterminate"
                  diameter="50"
                  color="primary"
                ></mat-progress-spinner>
              </label>
              <input #fileInput type="file" id="image" name="image" accept="image/*" (change)="onFileSelected($event)" required />
              <p>{{ imageName ? imageName : 'No File Selected' }}</p>
              <button mat-stroked-button color="primary" type="button" (click)="uploadImage()" [disabled]="uploading">Upload</button>
            </div>
          </mat-card-content>
        </mat-card>
  
        <mat-form-field>
          <mat-label>URL</mat-label>
          <input matInput formControlName="url" />
        </mat-form-field>
  
        <div class="group">
          <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDate" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDate" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>
  
        <mat-checkbox formControlName="active">Active</mat-checkbox>
  
        <button mat-raised-button color="primary" type="button" [disabled]="form.invalid || uploading" (click)="submit()">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  
  <button mat-flat-button color="warn" (click)="toggleDrawer()">Close Drawer</button>
</div>
