.container {
    width: 500px;

    mat-card-content form{
        display: flex;
        flex-direction: column;

        button {
            width: fit-content;
            margin: auto;
        }

        .group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            mat-form-field {
                width: 100%;
            }
        }
    }
}